.footer_container {
  outline: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
}

.social {
  outline: 1px solid red;
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__button button {
  border-radius: 0;
  padding: 16px 32px;
}
